.site-logo {
  width: 3.6rem;
  padding-right: 5px;
}
.extension-name {
  padding-bottom: 3rem;
  font-size: 2.6rem;
  color: #EEEEEE;
    display: flex;
    align-items: center;
}
.popup-container{
  position: relative;
  padding: 5rem;
}
.issue-title {
  padding-bottom: 1rem;
}
.issue-img {
  width: 34rem;
}
.issue-desc {
  padding-top: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.issue-footer {
  justify-content: center;
  padding: 2rem 0 2rem 0;
  border-bottom: 1px solid #EEEEEE;
}
.btn {
  background-color: #00ADB5;
}
.btn:hover {
  background-color: #019ba3;
  color: #EEEEEE;
}
.dropdown-section {
  position: absolute;
  top: 38rem;
  right: 8rem;
  white-space: nowrap;
  z-index: 3;
  background-color: #393E46;
  font-size: 1.6rem;
  padding: 0.6rem;
  border-radius: 1rem;
}
.dropdown-item {
  padding: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.dropdown-item:hover{
  cursor: pointer;
  background-color: #222831;
}