.site-logo {
  width: 3.6rem;
  padding-right: 5px;
}
.extension-name {
  padding-bottom: 3rem;
  font-size: 2.6rem;
  color: #EEEEEE;
    display: flex;
    align-items: center;
}
.popup-container{
  display: flex;
  flex-direction: column;
    align-items: center;
  position: relative;
}
.issue-title {
  padding-bottom: 1rem;
}
.issue-img {
  width: 34rem;
}
.issue-desc {
  padding-top: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.issue-footer {
  justify-content: center;
  padding: 2rem 0 2rem 0;
  border-bottom: 1px solid #EEEEEE;
}
.btn {
  background-color: #00ADB5;
}
.btn:hover {
  background-color: #019ba3;
  color: #EEEEEE;
}

.create-issue-heading {
  font-size: 2.6rem;
  padding-bottom: 8px;
}

.button-group {
  gap: .5rem;
  justify-content: space-between;
}

.btn-back {
  background: #393E46;
  opacity: .8;
}

.btn-back:hover {
  opacity: 1;
}
.container-create-issue {
  min-width: 350px;
  padding: 5rem;
}